---
import Layout from "@layouts/Layout.astro";
---

<Layout title="rcn.sh • Home" image="https://rcn.sh/api/og.png?title=">
  <main
    class="text-[#c5c0b8] h-[100dvh] min-h-[100dvh] w-[100dvw] overflow-x-hidden py-8 flex flex-col"
    transition:animate="fade"
  >
    <div class="flex m-auto">
      <h1 class="text-5xl font-bold">404 - Not Found D:</h1>
    </div>
  </main>
</Layout>
