---
import Layout from "../layouts/Layout.astro";
---

<Layout title="rcn.sh • Home" image="https://rcn.sh/api/og.png?title=Crosshair">
  <main
    class="text-[#c5c0b8] h-[100dvh] min-h-[100dvh] w-[100dvw] overflow-x-hidden py-8 flex flex-col"
    transition:animate="fade"
  >
    <div class="flex m-auto">
      <h1 class="text-2xl font-bold">
        0;s;1;P;c;7;u;DFFF00FF;o;1;d;1;z;3;f;0;0t;1;0l;2;0v;4;0o;0;0a;0;0f;0;1b;0;S;t;DFFF00FF;s;0.9;o;1
      </h1>
    </div>
  </main>
</Layout>
