---
import Layout from "@layouts/Layout.astro";
import { SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";
import { GithubIcon } from "astro-feather";
import Header from "@components/Header.astro";
import { db, Guests, desc, eq } from "astro:db";
import Footer from "@components/Footer.astro";
import Credits from "@components/Credits.astro";
import { Resend } from "resend";

const session = await getSession(Astro.request);
const resend = new Resend(import.meta.env.RESEND_API_KEY);

if (Astro.request.method === "POST") {
  const email = session?.user?.email as string;
  const name = session?.user?.name as string;
  await db.delete(Guests).where(eq(Guests.email, email));

  const formData = await Astro.request.formData();
  const message = formData.get("message");

  if (
    typeof email === "string" &&
    typeof message === "string" &&
    typeof name === "string" &&
    message.length > 0 &&
    message.length <= 100
  ) {
    const res = await fetch("https://vector.profanity.dev", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ message }),
    });
    const { isProfanity } = await res.json();

    if (!isProfanity) {
      await db
        .insert(Guests)
        .values({ email, name, message, published: new Date() });
      (async function () {
        const { data, error } = await resend.emails.send({
          from: "Myself <rcn@mail.rcn.sh>",
          to: ["jacob@rcn.sh"],
          subject: "New guestbook entry from " + name,
          html: "<p>" + message + "</p>",
        });

        if (error) {
          return console.error({ error });
        }

        console.log({ data });
      })();
    } else {
      return new Response("Profanity detected", { status: 400 });
    }
  }
}

const comments = await db.select().from(Guests).orderBy(desc(Guests.published));
---

<Layout
  title="rcn.sh • Guestbook"
  image="https://rcn.sh/api/og.png?title=Guestbook"
>
  <main
    class="text-[#c5c0b8] h-[100dvh] min-h-[100dvh] w-[100dvw] overflow-x-hidden py-8 flex flex-col"
    transition:animate="fade"
  >
    <Header />
    <section
      class="flex justify-center flex-col mt-8 w-[80%] lg:w-[60%] mx-auto"
    >
      <h1
        class="text-[#cdc8c2] text-xl lg:text-3xl md:text-2xl justify-center flex font-mono mx-2 mb-4"
      >
        Guestbook
      </h1>
      {
        session ? (
          <>
            <form method="POST" class="flex justify-center my-1 pt-4 flex-row">
              <input
                type="text"
                class="w-[80%] p-2 rounded-lg bg-[#2e2e2e] mx-2"
                placeholder="Leave a message"
                name="message"
                maxlength="200"
                minlength="1"
              />
              <button
                class="px-2 py-1 bg-[#cdc8c2] text-black rounded-lg lg:w-[20%] w-[40%]"
                type="submit"
              >
                Sign
              </button>
            </form>
            <span class="text-center text-[#c5c0b8] text-xs mx-auto">
              {session.user?.name} • {session.user?.email} |{" "}
              <SignOut class="underline">Logout</SignOut>
            </span>
          </>
        ) : (
          <SignIn
            provider="github"
            class={
              "px-2 py-2 bg-[#cdc8c2] text-black rounded-lg w-[50%] flex justify-center mx-auto lg:w-[20%]"
            }
          >
            <GithubIcon />
            <span class="mx-2">Login</span>
          </SignIn>
        )
      }
    </section>
    <hr class="bg-[#363b3d] border-none h-[2px] mt-2 w-[60%] mx-auto my-8" />
    <section>
      <ul class="flex flex-col justify-center items-center">
        {
          comments.map((comment) => (
            <li class="flex flex-col justify-center items-center my-4">
              <p class="text-center">{comment.message}</p>
              <p class="text-center text-[#c5c0b8] text-xs">
                {comment.name} -{" "}
                {comment.published.toLocaleTimeString("en-gb").slice(0, -3)}
                {comment.published.toLocaleDateString("en-gb")}
              </p>
            </li>
          ))
        }
      </ul>
    </section>
    <div class="mt-auto">
      <Footer transition:persist>
        <Credits />
      </Footer>
    </div>
  </main>
</Layout>
