---
import Layout from "@layouts/Layout.astro";
import Spotify from "@components/Spotify.astro";
import Github from "@components/Github.astro";
import Steam from "@components/Steam.astro";
import { Image } from "astro:assets";

import rcnLogo from "../../public/rcnLogo.svg";

const chance = Math.random();

function RCN(chance: number) {
  if (chance < 0.99) {
    const rWords =
      "radiant ragged rapid rare rash raw recent reckless rectangular ready real realistic reasonable red reflecting regal regular reliable relieved remarkable remorseful remote repentant required respectful responsible repulsive revolving rewarding rich rigid right ringed ripe roasted robust rosy rotating rotten rough round rowdy royal rubbery rundown ruddy rude runny rural rusty"
        .split(" ")
        .filter((word) => word.trim() !== "");
    const cWords =
      "cut clever close closed cloudy clueless clumsy cluttered coarse cold colorful colorless colossal comfortable common compassionate competent complete complex complicated composed concerned concrete confused conscious considerate constant content conventional cool cooperative coordinated corny corrupt costly courageous courteous crafty crazy creative creepy criminal crisp critical crooked crowded cruel crushing cuddly cultivated cultured cumbersome curly cute cylindrical"
        .split(" ")
        .filter((word) => word.trim() !== "");
    const nWords =
      "naturist newscaster night-owl nation newspaper negotiator number-lover name nothing note-taker networker notice novelist NHS-Worker native nurse nationalist negativity nobody neurologist nuclear-engineer narcissist nihilist"
        .split(" ")
        .filter((word) => word.trim() !== "");

    const randomRWord = rWords[Math.floor(Math.random() * rWords.length)];
    const randomCWord = cWords[Math.floor(Math.random() * cWords.length)];
    const randomNWord = nWords[Math.floor(Math.random() * nWords.length)];

    const rcn = randomRWord + " " + randomCWord + " " + randomNWord;

    return rcn;
  } else {
    return "recon";
  }
}
const random = RCN(chance);

Astro.response.headers.set(
  "Cache-Control",
  "public, s-maxage=60, stale-while-revalidate=30",
);
---

<Layout title="rcn.sh">
  <main
    class="text-[#c5c0b8] h-[100dvh] min-h-[100dvh] w-[100dvw] overflow-x-hidden py-8"
  >
    <Image
      src={rcnLogo}
      alt="rcn.sh logo"
      class="w-[40%] md:w-[30%] lg:w-[25%] xl:w-[15%] mx-auto text-[#171717]"
      height="500"
      width="500"
      loading="eager"
    />
    <h1 class="text-3xl text-center font-mono">
      {random}
    </h1>
    <section
      class="m-auto w-[80%] text-[#cdc8c2] md:w-[65%] md:text-left text-center"
    >
      <br />
      <section class="justify-center p-2 py-5 text-base text-center">
        Hi! I'm <b>Jacob</b> (aka rcn), a computer science student in
        <b>Year 13</b>. I'm currently working on a few projects, such as my
        <a
          href={"https://github.com/RCNOverwatcher/virtue-gymnastics-website"}
          class={"text-[#737dbb] hover:text-[#cdc8c2]"}
        >
          NEA
        </a>
        (Non-Exam Assessment) for <b>A-Level Computer Science</b>.
      </section>
      <section class={"justify-center p-2 py-5 text-base text-center"}>
        My main programming language is TypeScript, with my primary frontend
        framework being Next.js, but I've also used frameworks such as Astro.
        I'm also familiar with Rust and Python.
      </section>
      <section class={"container p-2 py-5"}>
        <h2
          class={"flex justify-center py-4 text-xl font-bold text-white text-center"}
        >
          My GitHub Repositories
        </h2>
        <Github />
      </section>
      <Steam />
    </section>
    <Spotify />
  </main>
</Layout>
