---
import Layout from "@layouts/Layout.astro";
import Spotify from "@components/Spotify";
import Github from "@components/Github.astro";
import Steam from "@components/Steam.astro";
import Footer from "@components/Footer";
import Ip from "@components/Ip.astro";
import Credits from "@components/Credits.astro";
import RCN from "../server/rcn";

const random = RCN();
---

<Layout title="rcn.sh">
  <main
    class="text-[#c5c0b8] h-[100dvh] min-h-[100dvh] w-[100dvw] overflow-x-hidden py-8"
  >
    <svg
      class="w-[40%] md:w-[30%] lg:w-[25%] xl:w-[15%] mx-auto justify-center"
      xmlns="http://www.w3.org/2000/svg"
      id="Layer_1"
      data-name="Layer 1"
      viewBox="100 350 900 450"
      ><defs
        ><style>
          .cls-1,
          .cls-2 {
            fill: #305b99;
            strokewidth: 0;
          }
          .cls-2 {
            fill: #5b66af;
          }
        </style></defs
      ><g
        ><polygon
          points="947.67 500.78 902.38 579.22 857.08 657.67 766.48 657.67 811.77 579.22 857.07 500.78 766.48 500.78 721.19 579.22 675.88 657.67 585.3 657.67 630.59 579.22 539.99 579.22 585.28 500.78 675.88 500.78 675.88 500.76 721.17 422.31 902.38 422.31 902.38 422.33 947.67 500.78"
          class="cls-2"></polygon><polygon
          points="494.7 500.78 449.41 579.22 494.7 657.67 494.7 657.69 404.1 657.69 404.1 657.67 358.81 579.22 404.1 500.78 313.52 500.78 268.23 579.22 222.92 657.69 132.33 657.69 177.62 579.24 177.64 579.22 222.93 500.78 268.23 422.33 268.23 422.31 539.99 422.31 494.7 500.78"
          class="cls-1"></polygon></g
      ></svg
    >
    <h1 class="text-center font-mono text-xl lg:text-3xl md:text-2xl">
      {random}
    </h1>
    <section class="mx-auto w-[100%] text-[#cdc8c2] md:w-[65%] md:text-left">
      <br />
      <section class="justify-center p-2 py-5 text-base text-center">
        Hi! I'm <span class="text-white font-semibold">Jacob</span> (aka rcn), a
        computer science student in
        <span class="text-white font-semibold">Year 13</span>. I'm currently
        working on a few projects, such as my
        <a
          href={"https://github.com/RCNOverwatcher/virtue-gymnastics-website"}
          target="_blank"
          rel="noopener noreferer"
          class={"text-[#737dbb] hover:text-[#cdc8c2] underline"}>NEA</a
        >
        (Non-Exam Assessment) for <span class="text-white font-semibold"
          >A-Level Computer Science</span
        >.
      </section>
      <section class={"justify-center p-2 py-5 text-base text-center"}>
        My main programming language is <span class="underline"
          ><a
            href="https://www.typescriptlang.org/"
            target="_blank"
            rel="noopener noreferer">Typescript</a
          ></span
        >, with my primary frontend framework being <span class="underline"
          ><a
            href="https://nextjs.org/"
            target="_blank"
            rel="noopener noreferer">Next.js</a
          ></span
        >, but I've also used frameworks such as <span class="underline"
          ><a
            href="https://astro.build/"
            target="_blank"
            rel="noopener noreferer">Astro</a
          ></span
        >. I'm also familiar with <span class="underline"
          ><a
            href="https://rust-lang.org/"
            target="_blank"
            rel="noopener noreferer">Rust</a
          ></span
        > and <span class="underline"
          ><a
            href="https://python.org/"
            target="_blank"
            rel="noopener noreferer">Python</a
          ></span
        >.
      </section>
      <section class={"py-5"}>
        <h2 class={"flex justify-center py-4 text-xl font-bold text-white"}>
          My GitHub Repositories
        </h2>
        <Github />
      </section>

      <section class={"py-5"}>
        <h2 class={"flex justify-center py-4 text-xl font-bold text-white"}>
          My Steam Games
        </h2>
        <Steam />
      </section>
      <Spotify client:idle />
    </section>
    <Footer client:load>
      <Ip />
      <Credits />
    </Footer>
  </main>
</Layout>
