---
import Layout from '../layouts/Layout.astro';

const rText = "radiant ragged rapid rare rash raw recent reckless rectangular ready real realistic reasonable red reflecting regal regular reliable relieved remarkable remorseful remote repentant required respectful responsible repulsive revolving rewarding rich rigid right ringed ripe roasted robust rosy rotating rotten rough round rowdy royal rubbery rundown ruddy rude runny rural rusty"
const cText = "cut clever close closed cloudy clueless clumsy cluttered coarse cold colorful colorless colossal comfortable common compassionate competent complete complex complicated composed concerned concrete confused conscious considerate constant content conventional cool cooperative coordinated corny corrupt costly courageous courteous crafty crazy creative creepy criminal crisp critical crooked crowded cruel crushing cuddly cultivated cultured cumbersome curly cute cylindrical"
const nText = "naturist newscaster night-owl nation newspaper negotiator number-lover namer nothing note-taker networker notice novelist NHS-Worker native nurse nationalist negativity nobody neurologist nuclear-engineer narcissist nihilist"

const rWords = rText.split(" ").filter((word) => word.trim() !== "");
const cWords = cText.split(" ").filter((word) => word.trim() !== "");
const nWords = nText.split(" ").filter((word) => word.trim() !== "");

const randomRWord = rWords[Math.floor(Math.random() * rWords.length)];
const randomCWord = cWords[Math.floor(Math.random() * cWords.length)];
const randomNWord = nWords[Math.floor(Math.random() * nWords.length)];
---

<Layout title="rcn.sh">
	<main class="text-[#c5c0b8]">
		<img src="/rcnLogo.svg" alt="rcn.sh logo" class="w-1/12 mx-auto" />
		<h1 class="text-4xl text-center">{randomRWord} {randomCWord} {randomNWord}</h1>
	</main>
</Layout>