---
import Joke from "./Joke";
---

<footer>
  <hr class="bg-[#c5c0b8] h-[1px] w-full" />
  <div class="mt-4">
    <div
      class="flex flex-row text-[#c5c0b8] font-mono text-center justify-between text-sm lg:text-lg lg:px-12"
    >
      <span class="w-[20%]"> rcn.sh © 2024 </span>
      <Joke client:only="react"/>
      <span class="w-[20%]">
        Made with
        <a
          href="https://astro.build/"
          target="_blank"
          rel="noopener noreferer"
          class="text-[#887bdb]">{Astro.generator}</a
        >
      </span>
    </div>
  </div>
</footer>
