---
import { githubRepos } from "../lib/github";

const data = await githubRepos();
---

<div class="grid grid-cols-2 gap-4 xl:grid-cols-3">
  {
    data.map((repo) => (
      <div class="flex-col rounded-xl p-4 shadow-md text-center">
        <a
          class={"text-[#737dbb] underline hover:text-[#cdc8c2]"}
          href={repo.html_url}
          target="_blank"
          rel="noopener noreferer"
        >
          {repo.name}
        </a>
        <br />
        <span class={"text-[#cdc8c2]"}>{repo.description}</span>
      </div>
    ))
  }
</div>
