---
import MobileDrawer from "./Drawer";
import Spotify from "./Spotify.astro";
---

<div>
  <header
    class="sticky inset-x-0 top-0 z-10 mx-auto flex h-12 w-full shrink-0 items-center overflow-hidden text-sm font-medium lg:hidden"
  >
    <div class="flex h-full w-full items-center px-3">
      <div class="flex w-full items-center justify-between gap-2">
        <div class="flex flex-1 items-center gap-1">
          <MobileDrawer client:only="react">
            <Spotify />
          </MobileDrawer>
        </div>
      </div>
    </div>
  </header>
  <svg
    class="w-[40%] md:w-[30%] lg:w-[25%] xl:w-[15%] mx-auto justify-center flex-shrink-0"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="-1 -1 20 8"
  >
    <g transform="scale(1 0.894427191)"
      ><path fill="#305b99" d="M3 0l6 0-2 4 1 2H6L5 4 6 2H4L2 6H0"></path><path
        fill="#5b66af"
        d="M13 0h4l1 2-2 4H14l2-4H14L12 6H10l1-2H9l1-2h2"></path></g
    ></svg
  >
</div>
