---
Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=10, s-maxage=10, stale-while-revalidate=10, stale-if-error=3600",
);
import MobileDrawer from "./Drawer";
import { GET } from "../pages/api/nowPlaying";
const reponse = await GET(Astro);
const song = await reponse.json();
---

<div>
  <header
    class="sticky inset-x-0 top-0 z-10 mx-auto flex h-12 w-full shrink-0 items-center overflow-hidden text-sm font-medium lg:hidden"
  >
    <div class="flex h-full w-full items-center px-3">
      <div class="flex w-full items-center justify-between gap-2">
        <div class="flex flex-1 items-center gap-1">
          <MobileDrawer client:only song={song} />
        </div>
      </div>
    </div>
  </header>
  <svg
    class="w-[40%] md:w-[30%] lg:w-[25%] xl:w-[15%] mx-auto justify-center flex-shrink-0"
    xmlns="http://www.w3.org/2000/svg"
    id="Layer_1"
    data-name="Layer 1"
    viewBox="100 350 900 450"
  >
    <g
      ><polygon
        points="947.67 500.78 902.38 579.22 857.08 657.67 766.48 657.67 811.77 579.22 857.07 500.78 766.48 500.78 721.19 579.22 675.88 657.67 585.3 657.67 630.59 579.22 539.99 579.22 585.28 500.78 675.88 500.78 675.88 500.76 721.17 422.31 902.38 422.31 902.38 422.33 947.67 500.78"
        class="fill-[#5b66af] stroke-0"></polygon><polygon
        points="494.7 500.78 449.41 579.22 494.7 657.67 494.7 657.69 404.1 657.69 404.1 657.67 358.81 579.22 404.1 500.78 313.52 500.78 268.23 579.22 222.92 657.69 132.33 657.69 177.62 579.24 177.64 579.22 222.93 500.78 268.23 422.33 268.23 422.31 539.99 422.31 494.7 500.78"
        class="fill-[#305b99]"></polygon></g
    ></svg
  >
</div>
