---
const { LinkName, LinkUrl } = Astro.props;
---

<a
  href={LinkUrl}
  class="group flex items-center justify-between rounded-lg p-2 text-[#cdc8c2] hover:bg-gradient-to-br from-[#303030] to-[#111111]"
  rel="noopener noreferrer"
  target="_blank"
>
  <span class="flex items-center justify-between gap-2 text-[#cdc8c2] w-full">
    <span class="flex items-center gap-2">
      <slot />
      <span class="font-medium">{LinkName}</span>
    </span>
  </span>
</a>
