---
import { LINKS } from "@lib/constants";
import Spotify from "./Spotify.astro";
import MenuTab from "./MenuTab.astro";
import LinkTab from "./LinkTab.astro";
import {
  HomeIcon,
  MusicIcon,
  MonitorIcon,
  GithubIcon,
  BookIcon,
  CpuIcon,
  FileIcon,
} from "astro-feather";

const title = Astro.url.pathname;

const getLabelByHref = (title: string) => {
  const link = LINKS.find((link) => link.href === title);
  return link ? link.label : "404";
};
---

<main
  class={"hidden bg-gradient-to-br from-[#111111] to-[#303030] lg:flex lg:flex-col lg:border-r lg:min-w-[21rem] h-screen lg:border-[#cdc8c2] max-w-[21rem]"}
>
  <div class="border-b px-5 py-3 border-[#cdc8c2]">
    <div class="flex items-center justify-between">
      <div class="text-sm font-semibold tracking-tight text-[#cdc8c2]">
        <span>{getLabelByHref(title)}</span>
      </div>
    </div>
  </div>
  <div class="p-3">
    <div class="text-sm">
      <div class="gap-4">
        <div class="link-card inline-flex items-center gap-2 p-2">
          <svg
            id="Layer_1"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1080 1080"
            class="w-[64px] h-[64px] rounded-full"
          >
            <rect class="fill-[#181818] stroke-none" width="1080" height="1080"
            ></rect>
            <g>
              <polygon
                class="fill-[#5b66af] stroke-none"
                points="947.67 500.78 902.38 579.22 857.08 657.67 766.48 657.67 811.77 579.22 857.07 500.78 766.48 500.78 721.19 579.22 675.88 657.67 585.3 657.67 630.59 579.22 539.99 579.22 585.28 500.78 675.88 500.78 675.88 500.76 721.17 422.31 902.38 422.31 902.38 422.33 947.67 500.78"
              ></polygon>
              <polygon
                class="fill-[#305b99] stroke-none"
                points="494.7 500.78 449.41 579.22 494.7 657.67 494.7 657.69 404.1 657.69 404.1 657.67 358.81 579.22 404.1 500.78 313.52 500.78 268.23 579.22 222.92 657.69 132.33 657.69 177.62 579.24 177.64 579.22 222.93 500.78 268.23 422.33 268.23 422.31 539.99 422.31 494.7 500.78"
              ></polygon>
            </g>
          </svg>
          <div class="flex flex-col">
            <span class="font-semibold tracking-tight text-[#cdc8c2]"
              >Jacob Wiltshire</span
            >
            <span class="text-[#cdc8c2]">Student</span>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          <MenuTab>
            <HomeIcon />
          </MenuTab>
          <MenuTab currentTab="Games">
            <MonitorIcon />
          </MenuTab>
          <MenuTab currentTab="Music">
            <MusicIcon />
          </MenuTab>
          <MenuTab currentTab="Guestbook">
            <BookIcon />
          </MenuTab>
          <MenuTab currentTab="Files">
            <FileIcon />
          </MenuTab>
        </div>
      </div>
      <hr class="bg-[#363b3d] border-none h-[2px] mt-2" />
      <div class="gap-2 mt-2">
        <LinkTab LinkName="GitHub" LinkUrl="https://go.rcn.sh/github">
          <GithubIcon />
        </LinkTab>
        <LinkTab
          LinkName="Valorant Tracker"
          LinkUrl="https://go.rcn.sh/valorant"
        >
          <CpuIcon />
        </LinkTab>
      </div>
      <div class="mx-auto absolute bottom-8">
        <Spotify transition:persist />
      </div>
    </div>
  </div>
</main>
