---
import { steamRecentGamesPromise, steamAllGamesPromise } from "../server/steam";
import { InfiniteMovingCardsTwoWeeks } from "./InfiniteSteamCardsTwoWeeks";
import { InfiniteMovingCardsAll } from "./InfiniteSteamCardsAll";

const steamRecentGames = await steamRecentGamesPromise();
const steamAllGames = await steamAllGamesPromise();
---

<main class="flex flex-col w-fit max-w-[87%]">
  <div class="mt-auto mb-auto">
  <section class="flex justify-center flex-col">
    <h1 class="text-[#cdc8c2] text-5xl justify-center flex font-mono">
      Recently Played Steam Games
    </h1>
    <InfiniteMovingCardsTwoWeeks
      items={steamRecentGames}
      speed="normal"
      client:load
    />
  </section>
  <section class="flex justify-center flex-col">
    <h1 class="text-[#cdc8c2] text-5xl justify-center flex font-mono">My Steam Games</h1>
    <InfiniteMovingCardsAll items={steamAllGames} speed="normal" client:load className="w-full"/>
  </section>
</div>
</main>
